package views

import (
    sqlc "Tp3/db/generated"
    "fmt"
)

templ GastosList(gastos []sqlc.Gasto, id int32) {
    <div id="gastos-list-container">
        <h2>Gastos del Usuario</h2>

        if id == -1 {
                <p>Seleccione un usuario para ver sus gastos.</p>
        } else if len(gastos) == 0 {
                <p>Este usuario no tiene gastos registrados.</p>
        } else {
            <div class="gastos-header">
                <span>Categoría</span>
                <span>Monto</span>
                <span>Fecha</span>
                <span>Acción</span>
            </div>
            
            <ul id="gastos-list">
                for _, gasto := range gastos {
                    <li>
                        <span>{ gasto.Categoria }</span>
                        <span>{ gasto.Monto }</span>
                        <span>{ gasto.Fecha.Format("02/01/2006 15:04") }</span>
                        <button
                            class="delete-btn"
                            hx-delete={ templ.SafeURL(fmt.Sprintf("/gastos/%d", gasto.IDGasto)) }
                            hx-target="closest li"
                            hx-swap="outerHTML"
                        >
                            Eliminar
                        </button>
                    </li>
                }
            </ul>
        }
    </div>
}