package views

import (
    sqlc "Tp3/db/generated"
    "fmt"
)

templ GastosList(gastos []sqlc.Gasto, id int32) {
    <h2>Gastos del Usuario</h2>

    if id == -1 {
            <p>Seleccione un usuario para ver sus gastos.</p>
    } else if len(gastos) == 0 {
            <p>Este usuario no tiene gastos registrados.</p>
    } else {
        <div class="gastos-header">
            <span>Categoría</span>
            <span>Monto</span>
            <span>Fecha</span>
            <span>Acción</span>
        </div>
        
        <ul id="gastos-list">
            for _, gasto := range gastos {
                <li>
                    <span>{ gasto.Categoria }</span>
                    <span>{ gasto.Monto }</span>
                    <span>{ gasto.Fecha.Format("02/01/2006 15:04") }</span>
                    <form action={ templ.SafeURL(fmt.Sprintf("/gastos/delete/%d", gasto.IDGasto)) } method="POST">
                        <button class="delete-btn" type="submit">Eliminar</button>
                        <input type="hidden" name="id_usuario" value={ fmt.Sprint(id) } />
                    </form>
                </li>
            }
        </ul>
        
        <script>
            function deleteGasto(id) {
                fetch(`/gastos/${id}`, {
                    method: "DELETE"
                })
            }
        </script>
    }
}