package views

import (
    sqlc "Tp3/db/generated"
)

templ Estructura(usuario sqlc.Usuario, gastos []sqlc.Gasto, id_usuario int32) {
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Control de Gastos</title>
        <link rel="stylesheet" href="views/styles.css">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body>
        <div class="contenedor-grid">
            <div class="item-grid header"><header>Gastos Personales</header></div>

            <div class="item-grid user-section">
                @UserSelect(usuario)
            </div>

            <div class="item-grid gastos-section">
                @gastoForm(id_usuario)
            </div>

            <div class="item-grid gastos-list">
                @GastosList(gastos, usuario.IDUsuario, "", "")
            </div>
        </div>
    </body>
</html>
}