package views

import (
	sqlc "Tp3/db/generated"
)

templ UserSelect(usuario sqlc.Usuario) {
<div class="user-info">
    <div class="user-name">
        <h2>Bienvenido, {usuario.NombreUsuario}</h2>
    </div>

    <form action="/logout" method="POST" class="logout-form">
        <button type="submit" class="btn-logout">Cerrar Sesión</button>
    </form>
</div>
}