package views

import sqlc "Tp3/db/generated"

templ GastosList(gastos []sqlc.Gasto) {
	<ul>
		for _,gasto := range gastos {
			<li> { gasto.IDGasto } - { gasto.Monto } </li>
		}
	</ul>
}

templ GastosPage(gastos []sqlc.Gasto) {
	<html>
		<body>
			<h1>Lista usuarios </h1>
			@GastosList(gastos)
		</body>
	</html>
}